
.inlineBlock {
  display: inline-block;
}

.textcenter {
  text-align: center;
}

.topPadding {
  padding-top: 10px;
}

#row4 {
  margin-top: 20px;
}

.border {
  height: 95px;
  width: 95px;
  padding: 0;
}
